math_with_judge:
  resources_servers:
    math_with_judge:
      judge_model_server:
        type: responses_api_models
        name: qwen3_30ba3b_instruct_2507_model_server
      judge_responses_create_params:
        input: []
      should_use_judge: true
      verified: false
qwen3_30ba3b_instruct_2507_model_server:
  responses_api_models:
    local_vllm_model:
      entrypoint: app.py
      model: Qwen/Qwen3-30B-A3B-Instruct-2507
      return_token_id_information: false
      uses_reasoning_parser: true
      debug: false

      # For example, if your model is downloaded at ~/.cache/huggingface/hub/models--Qwen--Qwen3-235B-A22B-Instruct-2507, your hf_home here would be `~/.cache/huggingface`
      hf_home: null

      vllm_serve_env_vars:
        # If your tp * pp is greater than one node or one model instance spans more than one node, set this to `span`!
        VLLM_RAY_DP_PACK_STRATEGY: strict

      # If a hf_token is present in the env.yaml, it will be prepended to the hf download.
      vllm_serve_kwargs:
        # vLLM serving is a bit quirky at the moment. These parallelism configs are fairly sensitive and need to always be set properly!
        data_parallel_size: 1
        data_parallel_size_local: 1
        tensor_parallel_size: 8
        pipeline_parallel_size: 1

        gpu_memory_utilization: 0.9
        enable_auto_tool_choice: true
        tool_call_parser: hermes
